$blood-red: #812914;
$dark-red: #3E0F03;
$red-orange: #ED582C;
$yellow: #FAB839;

.dark-red{
	color: $dark-red;
}

.blood-red{
	color: $blood-red;
}

.yellow{
	color: $yellow;
}

.red-orange{
	color: $red-orange;
}

.white{
	color: white;
}