@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700);

$fonts: 'GothamUltra', 'Open Sans', sans-serif;

html{
	font-family: $fonts;
	text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 700;
	line-height: 1.2em;
	&.thin{
		font-weight: 300;
	}
	&.extra-bold{
		font-weight: 800;
	}
	&.normal{
		font-weight: 400;
	}
}

h1{
	font-size: 1.5em;
}

h4{
	font-size: .8em;
}
.center{
	text-align: center;
}