// bower:scss
// endbower

@import "reset";
@import "colors";
@import "typography";
@import "grid";
@import "compass";


.full-size{
  width: 100%;
  height: 100%;
}
// PADDING AND MARGINS
.p1{
  padding: 1em;
}

.pt1{
  padding-top: 1em;
}

.mb1{
  margin-bottom: 1em;
}

.mb2{
  margin-bottom: 2em;
}

.pb1{
  padding-bottom: 1em;
}

.hero{
  background: url(../images/snakefighter.jpg) center center no-repeat;
  width: 100%;
  height: 75%;
  background-size: cover;
  .hero-container{
    display: table;
    height: 100%;
  }
  .hero-header{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    .logo{
      margin-bottom: .25em;
    }
  }
  .login{
      list-style: none;
      position: absolute;
      top: 1em;
      right: 1em;
      li{
        text-transform: uppercase;
        display: inline-block;
        font-size: 12px;
        font-weight: 300;
        padding: 0 .5em;
        a{
          color: $yellow;
          text-decoration: none;
          &:hover{
            color: $red-orange;
          }
        }
        &:first-child{
          border-right: 1px solid $red-orange;
        }
      }
    }
}

.block-image{
  display: block;
  width: auto;
  margin: auto;
}

.rounded-image{
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.section{
  padding: 2.5em 1em;
}

.call-to-arms{
  background-color: $yellow;
  h1{
    color: $dark-red;
    margin-bottom: .5em;
  }
  h3{
    color: $blood-red;
  }
}

.notable-pizza{
  background-color: $dark-red;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
  }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

@media screen and (max-width: 480px) {
  .logo{
    width: 80%;
  }
  .mobile-padding{
    padding-bottom: 2em;
  }


}
