// bower:scss
// endbower

@import "reset";
@import "colors";
@import "typography";
@import "grid";
@import "compass";

@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }
 
  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  
  width: $width;
  height: 0;
  padding-bottom: $height;
}

.full-size{
  width: 100%;
  height: 100%;
}
// PADDING AND MARGINS
.p1{
  padding: 1em;
}

.pt1{
  padding-top: 1em;
}

.mb1{
  margin-bottom: 1em;
}

.mb2{
  margin-bottom: 2em;
}

.pb1{
  padding-bottom: 1em;
}

.hero{
  background: url(../images/snakefighter.jpg) center center no-repeat;
  width: 100%;
  height: 75%;
  background-size: cover;
  .hero-container{
    display: table;
    height: 100%;
  }
  .hero-header{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    .logo{
      margin-bottom: .25em;
    }
  }
  .login{
      list-style: none;
      position: absolute;
      top: 1em;
      right: 1em;
      li{
        text-transform: uppercase;
        display: inline-block;
        font-size: 12px;
        font-weight: 300;
        padding: 0 .5em;
        a{
          color: $yellow;
          &:hover{
            color: $red-orange;
          }
        }
        &:first-child{
          border-right: 1px solid $red-orange;
        }
      }
    }
}

.pizza-call{
  background: url(../images/battlescene.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  h1{
    padding-bottom: .5em;
  }
  h3{
    padding-bottom: 2em;
  }
}

.block-image{
  display: block;
  width: auto;
  margin: auto;
}

.rounded-image{
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.section{
  padding: 2.5em 1em;
}

.call-to-arms{
  background-color: $yellow;
  h1{
    color: $dark-red;
    margin-bottom: .5em;
  }
  h3{
    color: $blood-red;
  }
}

.hall-of-champions{
  background: $blood-red url(../images/crossed-swords.png) no-repeat center center;
  background-size: contain;
  table{
    width: 100%;
    text-align: left;
    margin-top: 2em;
    border-collapse: collapse;
    thead td{
      font-size: .85em;
      opacity: .35;
      padding-bottom: 1.5em;
      font-weight: 600;
    }
    tbody{
      td{
        vertical-align: middle;
        padding-bottom: 1em;
      }
      .rank{
        width: 5%;
        font-size: 1.25em;
        color: $red-orange;
        font-weight: 800;
      }
      .warrior{
        width: 35%;
        .name{
          font-size: 1.15em;
          font-weight: 600;
          padding-bottom: .25em;
        }
        .class{
          font-size: .75em;
        }
      }
      .loyalty{
        font-weight: 600;
        width: 45%;
      }
      .total-pp{
        font-weight: 800;
        color: $red-orange;
        font-size: 1.5em;
        width: 15%;
      }
    }
  }
}

.notable-pizza{
  background-color: $dark-red;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
  }

.padded-col{
  padding: 0 1em;
}

.button{
  background: $yellow;
  padding: 1em 3em;
  font-weight: 800;
  border-radius: 3px;
  display: inline-block;
  color: $dark-red;
}

.footer{
  background-color: $dark-red;
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

@media screen and (max-width: 480px) {
  .logo{
    width: 80%;
  }

  .mobile-padding-bottom{
    padding-bottom: 1.5em;
  }


}
