// bower:scss
// endbower

@import "reset";
@import "typography";
@import "grid";
@import "compass";

.hero{
  background: linear-gradient(rgba(129, 41, 20, .9), rgba(129, 41, 20, .9)), url(../images/snakefighter.jpg);
  width: 100%;
  height: 75%;
  background-size: cover;
  .hero-container{
    display: table;
    height: 100%;
  }
  .hero-header{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    .logo{
      width: 80%;
    }
  }
}

.container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
  }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .logo{
    width: 100%;
  }
}
