<div class="section hero">
  <div class="container hero-container">
    <ul class="login">
      <li><a href="">join the quest</a></li>
      <li><a href="">login</a></li>
    </ul>
    <div class="hero-header">
      <img class="logo" src="images/pq_logo.png" alt="PizzaQuest">
      <h3 class="extra-bold">LIVE FOR PIZZA, OR DIE FOR NOTHING</h3>
    </div>
  </div>
</div>

<div class="section call-to-arms">
  <div class="container">
    <h1 class="center extra-bold">A Call to Arms for Austin, TX Pizza Warrors</h1>
    <h3 class="center pb1">Discover Local Pizza Treasures, Embark on Pizza Quests, and Crush Your Friends</h3>
    <div class="group pt1">
      <div class="col span_4_of_12 padded-col">
        <img src="images/pq-app.png" alt="Pizza Quest App Logo" class="block-image pb1">
        <h3 class="dark-red center">Get The App</h3>
      </div>
      <div class="col span_4_of_12 padded-col">
        <img src="images/quest.png" alt="Quest Marker" class="block-image pb1">
        <h3 class="dark-red center">Complete Quests and Earn Pizza Points</h3>
      </div>
      <div class="col span_4_of_12 padded-col">
        <img src="images/challenge-friends.png" alt="Crossed Swords" class="block-image pb1">
        <h3 class="dark-red center">Challenge Friends</h3>
      </div>
    </div>
  </div>
  
</div>

<div class="section notable-pizza">
  <div class="container">
    <h1 class="extra-bold center yellow">Notable Pizzas of the Realm</h1>
    <div class="group pt1">
      <div class="col span_4_of_12 padded-col">
        <img src="images/east-side-pies.jpg" alt="" class="block-image rounded-image pb1">
        <h3 class="red-orange center">East Side Pies</h3>
      </div>
      <div class="col span_4_of_12 padded-col">
        <img src="images/home-slice.jpg" alt="" class="block-image rounded-image pb1">
        <h3 class="red-orange center">Home Slice</h3>
      </div>
      <div class="col span_4_of_12 padded-col">
        <img src="images/little-deli.jpg" alt="" class="block-image rounded-image pb1">
        <h3 class="red-orange center">Little Deli</h3>
      </div>
    </div>
    <h4 class="center red-orange pt1">lay thine eyes upon more pies &raquo;</h4>
  </div>
</div>

<!-- PLACE WEEKLY QUEST HERE -->

<div class="section pizza-call center">
  <div class="container"></div>
  <h1 class="center extra-bold white">Answer the Call of Pizza</h1>
  <h3 class="white normal center">and bring some friends</h3>
  <a href="" class="button mb1">Sign Up!</a>
</div>

<div class="section hall-of-champions">
  <div class="container">
    <h1 class="center yellow extra-bold">Hall of Champions</h1>
    <table>
      <thead>
        <tr>
          <td class="rank"></td>
          <td class="warrior">Warrior</td>
          <td class="loyalty">Favors</td>
          <td class="total-pp">Total PP</td>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td class="rank">1</td>
          <td class="warrior">
            <div class="name">Julia L</div>
            <div class="class">Level 20 Saucerer</div>
          </td>
          <td class="loyalty">Little Deli</td>
          <td class="total-pp">12,100</td>
        </tr>

        <tr>
          <td class="rank">2</td>
          <td class="warrior">
            <div class="name">Lance C</div>
            <div class="class">Level 20 Saucerer</div>
          </td>
          <td class="loyalty">Conan's Pizza</td>
          <td class="total-pp">11,900</td>
        </tr>

        <tr>
          <td class="rank">3</td>
          <td class="warrior">
            <div class="name">Kalin W</div>
            <div class="class">Level 19 Crust Knight</div>
          </td>
          <td class="loyalty">Home Slice</td>
          <td class="total-pp">9,000</td>
        </tr>

        <tr>
          <td class="rank">4</td>
          <td class="warrior">
            <div class="name">Andy H</div>
            <div class="class">Level 19 Crust Knight</div>
          </td>
          <td class="loyalty">Conan's Pizza</td>
          <td class="total-pp">7,500</td>
        </tr>

        <tr>
          <td class="rank">5</td>
          <td class="warrior">
            <div class="name">Shaun D</div>
            <div class="class">Level 18 Cheese Lord</div>
          </td>
          <td class="loyalty">Via 313</td>
          <td class="total-pp">7,200</td>
        </tr>

        <tr>
          <td class="rank">6</td>
          <td class="warrior">
            <div class="name">Luka S</div>
            <div class="class">Level 17 Grease Druid</div>
          </td>
          <td class="loyalty">Pieous Pizza</td>
          <td class="total-pp">6,900</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
