<div class="section hero">
  <div class="container hero-container">
    <ul class="login">
      <li><a href="">join the quest</a></li>
      <li><a href="">login</a></li>
    </ul>
    <div class="hero-header">
      <img class="logo" src="images/pq_logo.png" alt="PizzaQuest">
      <h3>LIVE FOR PIZZA, OR DIE FOR NOTHING</h3>
    </div>
  </div>
</div>

<div class="section call-to-arms">
  <div class="container">
    <h1 class="center">A Call to Arms for Austin, TX Pizza Warrors</h1>
    <h3 class="center bold pb1">Discover Local Pizza Treasures, Embark on Pizza Quests, and Crush Your Friends</h3>
    <div class="group pt1">
      <div class="col span_4_of_12 mobile-padding">
        <img src="images/pq-app.png" alt="Pizza Quest App Logo" class="block-image pb1">
        <h3 class="dark-red center">Get The App</h3>
      </div>
      <div class="col span_4_of_12 mobile-padding">
        <img src="images/quest.png" alt="Quest Marker" class="block-image pb1">
        <h3 class="dark-red center">Comeplete Quests and Earn Pizza Points</h3>
      </div>
      <div class="col span_4_of_12">
        <img src="images/challenge-friends.png" alt="Crossed Swords" class="block-image pb1">
        <h3 class="dark-red center">Challenge Friends</h3>
      </div>
    </div>
  </div>
  
</div>

<div class="section notable-pizza">
  
</div>
